{{- $title := .Get "title" -}}
{{- $image := .Get "image" -}}
{{- $download := .Get "download" -}}

<div class="pinout-container">
{{ with $.Page.Resources.Get $download }}
  <a
    href="{{ .RelPermalink }}"
    aria-label="Download schematic as PDF"
    download
    target="_blank"
    rel="noopener noreferrer"
    >Download schematic as PDF</a
  >
{{ end }}

{{ with $.Page.Resources.Get $image }}
<img src="{{ .RelPermalink }}" alt="{{ $title }} " title="{{ $title }}" />
{{ end }}

{{ with $.Page.Resources.Get $download }}
</a>
{{ end }}
</div>

