{{- $jsonFile := .Page.Resources.GetMatch "supported-aircraft.json" -}}
{{- if $jsonFile -}}
{{- $data := $jsonFile.Content | unmarshal -}}
<table>
  <thead>
    <tr>
      <th>Platform</th>
      <th>Aircraft</th>
      <th>Supported configurations</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {{- range $data.aircraft }}
    <tr>
      <td>{{ .platform }}</td>
      <td>{{ .aircraft }}</td>
      <td>{{ .configurations }}</td>
      <td>{{ .comment | .Page.RenderString }}</td>
    </tr>
    {{- end }}
  </tbody>
</table>
{{- end }}
